@model LayoutModel<StartFormModel>

<div class="start-form">
	<h2>Start a form</h2>

	<div class="description">
		Rich knowledge capture. Fine-tuned workflow. Collect the raw materials of your model.
	</div>

	<div>
		<div class="caption">
			Choose a name reflecting the form's purpose:
		</div>

		<div class="action">
			@using(Html.BeginForm("Start", "Forms"))
			{
				@Html.TextBox("name", "", new { @class = "name" })

				<div class="guidance">
					Try to express what makes this form interesting
					(<a href="~/help/naming/forms">details</a>)
				</div>
		 
			 <div>
				 Next: <input class="submit" type="submit" value="specify details &gt;&gt;" />
			 </div>
			}
		</div>
	</div>
</div>