@model IndexListModel

<div class="work">
	<h2>Work on a form</h2>
</div>

<div class="start">
	<img class="add" />
	<h2>@Html.RenderLink(Model.NewLink)</h2>
</div>

@{Html.RenderDescriptionList(Model.List, item => item.GetFormDescription());}

<div class="explore">
	@Html.RenderLink(Model.ExploreItem.Link)
	<div class="subtitle">@Model.ExploreItem.GetFormExploreDescription()</div>
</div>