@model IndexListModel

<div class="work">
	<h2>Work on an issue</h2>
</div>

<div class="open">
	<img class="add" />
	<h2>@Html.RenderLink(Model.NewLink)</h2>
</div>

<div class="issues">
	@{Html.RenderDescriptionList(Model.List, item => item.GetIssueDescription());}
</div>

<div class="explore">
	@Html.RenderLink(Model.ExploreItem.Link)
	<div class="subtitle">@Model.ExploreItem.GetIssueExploreDescription()</div>
</div>