<h1>Welcome to Slate.</h1>

<ul>
	<li>
		Slate collects and analyzes data <i>your</i> way.
	</li>
	<li>
		Your <a href="~/help/rules">rules</a>, your <a href="~/help/calculations">calculations</a>, your <a href="~/help/analysis">analysis</a>.
	</li>
	<li>
		You <a href="~/help/define">define the process</a>. You <a href="~/help/interpret">interpret the results</a>.
	</li>
	<li>
		Slate makes it easy.
	</li>
	<li class="learn">
		<a href="~/help/learn">Learn more</a>
	</li>
</ul>