.explore
{
	width: 800px;
}

.start-form
{
	margin-top: 6px;
}

.start-form .description
{
	border-bottom: solid 1px #656565;
	padding-bottom: 12px;
}

.start-form .caption
{
	margin-top: 12px;
}

.start-form .action
{
	margin: 12px 0px 12px 0px;
}

.start-form .action .name
{
	width: 375px;
}

.start-form .guidance
{
	font-size: 0.8em;
	margin-bottom: 12px;
	float: right;
}

.start-form .action .submit
{
	margin-top: 12px;
	background: transparent;
  text-decoration: underline;
  cursor: pointer;
	border: none;
	padding: 0px;
	color: yellow;
}

.start-form .action .submit:hover
{
	color: #E36F21;
}