<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" targetFramework="net40" />
  <package id="Cloak" version="0.5.0.0" targetFramework="net40" />
  <package id="Cloak.NUnit" version="0.4.0.0" targetFramework="net40" />
  <package id="FakeItEasy" version="1.7.4507.61" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.7" targetFramework="net40" />
  <package id="NUnit" version="2.5.10.11092" targetFramework="net40" />
</packages>