@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Error</title>
	</head>
	<body>
    <h2>
			An error occurred while processing your request.
    </h2>
	</body>
</html>