<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.2.859" />
  <package id="Cloak" version="0.5.0.0" />
  <package id="Cloak.Autofac" version="0.4.0.0" />
  <package id="Cloak.Wpf" version="0.5.0.0" />
  <package id="Rx-Main" version="1.0.11226" />
</packages>