@model LayoutModel<WorkItemModel>

<div class="work-item">
	<h2>is working on your request</h2>

	<div>
		<span class="description">@Model.Content.Description</span>
	</div>

	@if(Model.Content.Started)
	{
		<div>
			<h2>@Model.Content.Progress</h2>
		</div>
	}
	
	<script type="text/javascript">
		setTimeout(function() { location.reload(); }, @Model.Content.RetryIntervalMilliseconds);
	</script>
</div>